<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cust_dashboard</title>
     {% load static %}
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet">
</head>
<body bgcolor="#CD6155">
<center>
    <hr>
    <form action="" method="POST">

         {% csrf_token %}
        <div class="myDiv">

        <input type="submit" value="CLICK HERE TO CUSTOMER LOGIN" name="login" id="login" >
            <br><br>
        <input type="submit" value="CLICK HERE TO REGISTER" name="register" id="register">


        </div>
    </form>
</center>

</body>
</html>