<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer_registration_page</title>
     {% load static %}
    <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet">
</head>
<body bgcolor="#F9E79F ">
<center><h1>Create your account</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="myDiv">
<!--            Enter Your name : {{form.c_name}}<br><br>-->
<!--            Enter Your address : {{form.c_address}}<br><br>-->
<!--            Enter Your mail ID  : {{form.c_mail_id}}<br><br>-->
<!--            Enter Your Mobile No : {{form.c_mob_no}}<br><br>-->
<!--            Enter Your Username : {{form.c_username}}<br><br>-->
<!--            Enter Your Password : {{form.c_password}}<br><br>-->
        Enter your name:         <input id="ÿour name" type="text" name="your name"><br><br>
        Enter your address:      <input id="ÿour address" type="text" name="your address"><br><br>
        Enter your mail_id:      <input id="your mail id" type="text" name="your mail id"><br><br>
        Enter your mobile number:<input id="your mobile number" type="text" name="your mobile number"><br><br>
        Create your username:    <input id="ÿour username" type="text" name="your username"><br><br>
        Create your password:    <input id="ÿour password" type="password" name="your password"><br><br>
        <input type="submit" value="signin" name="ënquiry">
        <input type="reset" value="cancel" name="enquiry">
</div>
    </form>

</center>

</body>
</html>